@tailwind base;
@tailwind components;
@tailwind utilities;



#Dark {
  background-image: url("./IMAGES/FondoFlorCeleste.jpg");
  color: white;
}

#Light {
  background-image: url("./IMAGES/fondoFLorAzul.jpg");
  color:#0d3f67;
}



.fondoBoton{
background-color:color rgb(66, 187, 208); ;
}

.TituloHome{
  color: rgb(100, 193, 218);
  background-color: rgb(205, 248, 248);
  
  border-radius: 9px;
}

.titulo_pricipal_paginas{
  font-size:35px;
  color: rgb(162, 84, 156); 
}

.titulo_tarjetas{
  font-size:15px;
  color: rgb(66, 187, 208);
}

  .botones_DetProducto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:26px;
    margin-top: 20px; /* Espacio entre los párrafos y los botones */
  }

.size_letra{
  font-size:20px;
}

.menu-item {
  color: rgb(66, 187, 208);

  line-height: 1.5; /* Ajusta este valor según tus preferencias */
}


/* logo background-image: url(../public/favicon.ico);
	background-repeat:no-repeat;*/

  .logomenu img {
    transition: transform 0.5s ease-in-out;
  }
  
  .logomenu:hover img {
    transform: rotate(360deg);
  }


  .bg-cliente {
    background-image: url("./IMAGES/FondoFlorBanca.jpg");
    height: 500px; /* Ajusta la altura según tus necesidades */
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

.logo_home {
  display: flex;
  border-radius: 100px;
  margin-left: 32%;
  border-radius: 98%;
  animation-name: muv;
  animation-duration: 32s;
  animation-iteration-count: initial;
} /*ANIMACIÓN LOGO INICIO*/

@keyframes muv {
  0% {
    transform: translate(80%, 0px);
  }
  25% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(50%, 0px);
  }
}


